@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Zalando Sans SemiExpanded', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .gradient-hero {
    background: linear-gradient(90deg, #f2fcda 0%, #e2fbec 100%);
  }
  
  .editor-shadow {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-menu-open {
    transform: translateX(0%);
  }
  
  .mobile-menu-closed {
    transform: translateX(-100%);
  }
}
